.card {
<<<<<<< Updated upstream
  height: 17rem;
=======
  height: 20rem;
>>>>>>> Stashed changes
  aspect-ratio: 3/4;

  border-radius: 0.5rem;

  transition-property: box-shadow, color;
  transition-duration: 0.2s;

  background: #dedede;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 2px 8px 1px rgb(162, 162, 162);
}

.img {
<<<<<<< Updated upstream
  height: 50%;
=======
  height: 60%;
>>>>>>> Stashed changes
  width: 100%;
  object-fit: cover;
}

.info {
<<<<<<< Updated upstream
  height: 50%;
=======
  height: 40%;
>>>>>>> Stashed changes
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info button {
  width: 100%;
}
