.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  font-size: 1.4rem;

}
.img {
  width: 50%;
  margin-right: 3rem;
  margin-left: 3rem;
}
.text {
  width: 50%; /* Adjust as needed */
}

.box {
  max-width: 42rem;
  margin: auto;
}
